<%include partials/header%>

<script type="text/javascript">
    function loadCSS(filename){ 
       var file = document.createElement("link");
       file.setAttribute("rel", "stylesheet");
       file.setAttribute("type", "text/css");
       file.setAttribute("href", filename);
       document.head.appendChild(file);
    }
   //just call a function to load your CSS
   //this path should be relative your HTML location
   loadCSS("/css/show.css");
</script>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Belp</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="<%=DiningHall.image%>">
				<div class="caption-full">
					<h4><a href="#"><%=DiningHall.name%></a></h4>
					<p><%=DiningHall.description%></p>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
					<a href="/DiningHalls/<%= DiningHall.name%>/comments/new" class="btn btn-success">Create a New Comment!</a>
				</div>
				<%DiningHall.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%=comment.author%></strong>
							<span class="pull-right">10 days ago</span>
							<p><%= comment.comment%></p>
						</div>
					</div>
				<%})%>
			</div>
		</div>
	</div>
</div>




<!-- =================================== -->
<!-- ||Real Show Page Above This Line ||-->
<!-- =================================== -->

<h1><%=DiningHall.name%></h1>
<img src="<%= DiningHall.image%>">

<p>
	<a href="/DiningHalls/<%= DiningHall.name%>/comments/new" class="btn btn-default">Create a New Comment!</a>
</p>

<%DiningHall.comments.forEach(function(comment){ %>
	<p>
		<strong><%=comment.author%></strong> (Rating: <%=comment.rating%>) - <%= comment.comment%>
	</p>
<%})%>